# SYD DAT 3 Lab 1 - Git and Markdown

##Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_3"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article

##### Keypoints taken out of the book
* Alot of times companies still do not know what data science entails or they are not 100% sure they know what they want them to do.
* There are alor of different types of "Data Scientists"  whiles all work on the same sort of things, certian ones are better suited to different areas, eg Data Business people, while probably not a full data scientists they are still considered part of the field, while others are much stronger on the programming or big data.
* The majority of data sciencitists are profficient across all parts of data science usually while being very strong in one core part of the field.
* This would mean that to be truely sucessful you would need a combination of different T shapped data scientists 
* What data scientists are working on now and current career paths will be totally different in the next few years. 

* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

##### Summary
* The Majority of this book seems to have a common theme of you will never know everything, you need to be able to learn just in time. Be able to sit down say I need to learn this and then self teach.
* Majority of Data Science is not done one on one. It is usually a group of people solving a problem, espicailly if each person has a different strength. If you enter a new DS job be prepared to work hard as you cant bounce ideas of people when your not there.
* Focus on simple things. Simple things become hard, hard things become intractable.
* Open Source Data Science Masters
* 3 good websites, Quora, Zipfian Acadmey, Coursera.
* Last interview I didnt feel had much.




#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve
  
  1. Boat IoT tracker, using a Raspberri Pi install on boats and gather the data uploaded to AWS. Using this, owners can track real time what is going on with their boat. On top of this when the boat is running it can give up to date info regarding the boat. 
  2. ecommerce.   ecommendations and personalization.  eg 'We see your ordering this on your iphone 5, how about you get this case to protect it.

* Loyalty. Automatically generating a response etc, We see youve been with us for 2 years. As thanks have the next box on us. Thanks for being such a loyal customer

* Loyalty. On the back end. the majority of people unsubscrube after 4ish months. So as a hook automatically offer them 10% off their 5th or 6 box. or an extra accessory.

* Product: How many do we need to order to keep things stocked, when should we take the winter clothes off the store and start selling summer? Is there something we are missing in our product line

* Supply Chain Management: Working out average delivery time from different factories, minimising times that a box is shipping late as its missing its big must have piece. Is there a prediction for abnormal weather in the next month and can we generate a product that will be useful. eg summer but massive cold from predicted so brand new scarf as the fashion item.

* Customer service: Ability to go through the customer service records. pick out keywords and which allows analysis of what happens and why they are unhappy. Poor quality box, order didn't arrive on time. etc etc. Correlate this to unsubs and gives the ability to see what is a bad enough experience that people will unsub.

* Customer insights- Especially with the sharks customer database, this is key to workout who you want to target.

* Age, who are the people ordering your boxes, young professionsal that live inner west? Girls who live south west, east. If 90% of your customer base lives in the west and 10 in the east, you'll obviously tailor your box to them, same for age are they 20 or 45? all these things mean you can tailor the box and what you sell on the site to your market. Or find out why your missing a market.

* Marketing, which facebook ad is working if your are running 2 or more? Of each add which one generates traffic and which one generates a sale? How many emails are you able to send before you become a nuisance and they unsub. customer surveys: verbatum feedback analysis. what are the main pluses or negatives that your customer base has an issue with. How can we fix that?

* Web Analytics: Where to people come from? Once on the site where do they go? Where to most people bounce from? Why? How do we fix this? Once they have added to cart and go why? What page were they on? 

* Payment: Which payment is the most used? How can we make this more seamless. Moreback end: Which do we have the most issues with on failed payments. instead of continually charging we can send an automated email. Hi we have tried to charge this account please put money in or give us another cc to charge etc etc.
  
  3. Netcomm data, to start with, base data on customer service verbatiums maybe also phone also scrape whirlpool.net.au. Track key words to gain insites into main issues. use this to give advanced warning if a firmware is issued and customer service complaints jump 5% outside of normal and whirlpool blows up giving the engineering and marketing team advanced warning. 
  
  4. Machine forcasting for work. Taking last 4-5 years of results and forecasts and tack how close they were. Using this hopefully we can track how close we were and using these numbers and adjusting for issues/expected wins etc we can work out a good way to forcast
  
  5. Bit Left of field after talking to someone else probably too hard due to no way of getting the data. Facial reconnition tracking which can determin how happy people are. Once we can do that track people within a Westfield or other mall. Useing a heat map you could see where people are most happy. Allows you to check how useful putting up xmas lights are, where are people most happy so charge more for that shop. See how well renovations have changed peoples attitiude. etc. WOuld be nice, No idea how to get the data/ enough time to build a model. 

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

## Exercise Four - Movie Lens Data

In [1]:
import pandas as pd

pd.read_table('u.user')
#pd.read_table('https://raw.githubusercontent.com/ihansel/SYD_DAT_3_labs/Week 1/u.user')

# read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

In [2]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [3]:
# for each occupation, calculate the mean age

#users.age.mean()
#users[users.occupation].age.mean()
users.groupby(['occupation']).mean()

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

In [9]:
# for each occupation, calculate the minimum and maximum ages
users.groupby(['occupation']).age.max()
users.groupby(['occupation']).age.min()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [5]:
# for each combination of occupation and gender, calculate the mean age

users.groupby(['occupation','gender']).mean()

                            age
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429
educator      F       39.115385
              M       43.101449
engineer      F       29.500000
              M       36.600000
entertainment F       31.000000
              M       29.000000
executive     F       44.000000
              M       38.172414
healthcare    F       39.818182
              M       45.400000
homemaker     F       34.166667
              M       23.000000
lawyer        F       39.500000
              M       36.200000
librarian     F       40.000000
              M       40.000000
marketing     F       37.200000
              M       37.875000
none          F       36.500000
              M       18.600000
other         F       35.472222
              M       34.028986
programmer    F       32.166667
              M       33.216667
retired       F       70.000000
              M       62.538462
salesman      F       27.000000
              M       38.555556
scientist     F       28.333333
              M       36.321429
student       F       20.750000
              M       22.669118
technician    F       38.000000
              M       32.961538
writer        F       37.631579
              M       35.346154

In [48]:
# randomly sample a DataFrame
import random
rand_list = random.sample(users, 2)

IndexError: list index out of range

In [10]:
# detect duplicate users
import collections
pandas function,duplicates
print [x for x, y in collections.Counter(users).items() if y > 1]

[]